#Ignore all extensionless files
**
!**.*
#All binaries and by-products
**.exe
**.dll
**.out
**.aux
**.pdf
**.class
**.jar
**.hi
**.o
#All temporaries
**.swp
**.bak
**~
**.*~*
#And work in progress
unsorted/**
